section {
    background-image: url(/assets/img/galaxy.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 797px;
}

.container {
    max-width: 955px;
    height: 797px;
    border: 1px solid black
}

.card-name {
    background-color: #3A4042;
    width: 627px;
    height: 184px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px black;
    position: absolute;
    left: 91px;
    top: 191px;
    text-shadow: 4px 4px 0 black;
    font-weight: 500;
}

div>span:first-child {
    font-size: 40px;
    color: black; 
    margin-bottom: 15px;
}

div>span {
    color: white;
    font-size: 30px;
    font-family: 'Press Start 2P' !important;

}

.container>button {
    display: inline-block;
    position: absolute;
    top: 418px;
    left: 463px;
}

#first-button {
    position: absolute;
    top: 418px;
    left: 181px
}