.item {
    display: inline-block;
    text-align: center;
    margin: 27px 10px;
    transition: transform 0.9s linear;
    font-family: 'Fira Code', sans-serif;
    font-size: 20px;
    font-weight: 500; 
}

.item::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #790614;
    text-align: center;
}

.item:hover {
    transform: translateX(-10px);
    opacity: 0.8;
}

